<h3>Madame, Monsieur,</h3>

<h4>
    Félicitations, votre abonnement référence <strong> {{ abonnement.reference }} </strong> a été enregistrée avec succès!
</h4>

<p>
    Veuillez lire ce mail et le conserver pour un éventuel usage ultérieur car il contient des informations importantes concernant la gestion de vos produits.
</p>

<br>

<strong style="color: #0F83E8;font-size: larger; text-decoration: underline">Détails de l'abonnement</strong>

<ul>
    <li><strong>Référence : </strong>{{ abonnement.reference}}</li>
    <li><strong>Offre : </strong>{{ abonnement.offre.name}}</li>
    <li><strong>Activités : </strong>{{ abonnement.offre.nbActivite}} activités</li>
    <li><strong>Durée : </strong>{{ abonnement.duree.name}} mois</li>
    <li><strong>Date d'expiration : </strong>{{ abonnement.expired|date("d/m/Y h:i:s")}}</li>
</ul>

<br>
<strong style="color: #0F83E8;font-size: larger; text-decoration: underline">Gérer vos produits </strong>

<p>
    Vous pouvez gérer vos produits (ajouter, editer ou supprimer un produit, etc.) en vous connectant à votre espace fournisseur.
    Suivez les instructions ci-dessous pour gérer vos produits:
</p>

<ol>
    <li>Cliquez sur le lien suivant: <a href="http://192.168.1.124:3000/login">http://192.168.1.124:3000/login</a></li>
    <li>Connectez-vous votre email et mot de passe</li>
    <li>Sur le menu a gauche cliquer sur le lien <strong>"Mes Produits"</strong> </li>
</ol>

<br>
<strong style="color: #0F83E8;font-size: larger; text-decoration: underline">
    Support
</strong>

<p>
    Notre support technique est disponible 24 heures sur 24 et 7 jours sur 7 pour vous assister. Il suffit d'envoyer un email à
    <a href="mailto:support@lesachatsindustriels.com">support@lesachatsindustriels.com</a>
    Afin de vous fournir une assistance rapide et précise, <br>
    veuillez inclure le maximum de détails (nom d'utilisateur du compte, société, capture d'écran, description du problème, etc.).
    <br>
    Cela accélérera la prise en charge de votre demande en permettant à nos techniciens de commencer immédiatement à diagnostiquer le problème.
</p>

<br><br>

<p>Merci d'avoir choisi Les Achats Industriels.</p>